# Ignore unrelated files
__pycache__/
.ruff_cache/

# Ignore environment files
.vscode/
.venv/

# Ignore non-code directories
assets/

# Ignore sensitive data
private/

# Ignore data files
*.db
*.db-*
*.html

# Ignore all log files
*.log